<h1>Hashes#new</h1>

<%= form_with url: "/hashes", method: :post, multipart: true do |form| %>
  <%= form.label :input_hash, "Input hash:" %>
  <%= form.search_field :input_hash %>
  <%= form.submit "Submit" %>
<% end %>
<%= link_to "home", reports_path  %>
<p id="notice"><%= notice %></p>
<p>Find me in app/views/hashes/new.html.erb</p>
