<h1>Benvenuto su VirusScanner<br> Reports: </h1>
<ul>
    <li>
        <%= link_to "upload binary", new_binary_path  %>
    </li>
    <li>
        <%= link_to "upload url", new_url_path  %>
    </li>
    <li>
        <%= link_to "search hash", new_hash_path  %>
    </li>
    <li>
        <%= link_to "history", past_reports_path  %>
    </li>
    <li>
        <%= link_to "group report", new_group_path  %>
    </li>
    <li>
        <%= link_to "upload report", new_manage_report_path  %>
    </li>
</ul>
<p>Find me in app/views/reports/index.html.erb</p>
