<h1>Reports#show</h1>

<%= link_to "home", reports_path  %>

<%= link_to "download report", "/manage_reports/download?id=#{@report.id}"  %>

<% if @report.sha256 && !current_user.has_role?(:not_rescan) %>
    <% sha256 = Base64.encode64(@report.sha256)%>
    <%= link_to "rescan report", rescan_report_path(sha256)  %>
<% end %>

<% if @report.sha256 && current_user.has_role?(:admin)%>
    <% sha256 = Base64.encode64(@report.sha256)%>
    <%= link_to "add comment to report", new_comment_path(sha: "#{sha256}", report_id: @report.id) %>
    <%= link_to "add vote to report", new_vote_path(sha: "#{sha256}", report_id: @report.id) %>
<% end %>

<% if current_user.has_role?(:admin) && @report.url %>
    <% url = Base64.encode64(@report.url)%>
    <%= link_to "add comment to report", new_comment_path(url: "#{url}", report_id: @report.id)  %>
    <%= link_to "add vote to report", new_vote_path(url: "#{url}", report_id: @report.id)  %>
<% end %>

<% if @report.url && !current_user.has_role?(:not_rescan)%>
    <% url = Base64.encode64(@report.url)%>
    <%= link_to "rescan report", rescan_report_path(url)  %>
<% end %>

<% if @report.sha256 && !current_user.has_role?(:not_mitre)%>
    <%= link_to "mitre report", mitre_report_path(@report.sha256)  %>
<% end %>

<% if @report.sha256 && !current_user.has_role?(:not_behavior)%>
    <%= link_to "behavior report", behavior_report_path(@report.sha256)  %>
<% end %>



<h3>HASH</h3>
<%= @report.sha256 %>
<h3>SCORE</h3>
<%= @report.score %>
<h3>URL</h3>
<%= @report.url %>


<h3>CONTENT</h3>
<%
json_parsed = JSON.parse(@report.content)
begin
    content = json_parsed["data"]["attributes"]["results"]
    url="true"
rescue
    content = json_parsed["data"][0]["attributes"]["last_analysis_results"]
    url="false"
end
%>
<% if url=="true"%>
    <ul>
    <% content.each do |result| %>
        <li>
        <%= result[0]%> : <%= result[1]["category"] %>, <%= result[1]["result"] %>, <%= result[1]["method"] %>
        </li>
    <%end%>
    </ul>
<%else%>
<ul>
    <% content.each do |result| %>
        <li>
        <%= result[0]%> : <%= result[1]["category"] %>, <%= result[1]["result"] %>, <%= result[1]["method"] %>
        </li>
    <%end%>
    </ul>
<% end %>
    
<% if !current_user.has_role?(:not_comments)%>
    <h3>COMMENTS</h3>
    <ul>
    <% @report.comments.each do |comment| %>
        <li>
        <%= comment.body %>
        </li>
    <% end %>
    </ul>
<% end %>

<% if !current_user.has_role?(:not_votes)%>
    <h3>VOTES</h3>
    <ul>
    <% @report.votes.each do |vote| %>
        <li>
        <%= vote.verdict %>
        <%= vote.value %>
        </li>
    <% end %>
    </ul>
<% end %>

<p>Find me in app/views/reports/show.html.erb</p>
