<h1>Reports#show</h1>
<%= link_to "home", reports_path  %>
<% if @report.sha256%>
    <%= link_to "mitre report", mitre_report_path(@report.sha256)  %>
<% end %>

<% if @report.sha256%>
    <%= link_to "behavior report", behavior_report_path(@report.sha256)  %>
<% end %>

<h3>HASH</h3>
<%= @report.sha256 %>
<h3>SCORE</h3>
<%= @report.score %>
<h3>URL</h3>
<%= @report.url %>
<h3>CONTENT</h3>
<%= @report.content %>
<h3>COMMENTS</h3>
<% @report.comments.each do |comment| %>
    <%= comment.body %>
<% end %>
<h3>VOTES</h3>
<% @report.votes.each do |vote| %>
    <%= vote.verdict %>
    <%= vote.value %>
<% end %>


<p>Find me in app/views/reports/show.html.erb</p>
