<h1>Groups#show</h1>

<%= @group.file_name %>

<%= link_to "sort by score", group_path(@group, sort: "score")  %>
<%= link_to "sort by date", group_path(@group, sort: "date")  %>
<%= link_to "download group report", "/manage_reports/download_group?id=#{@group["id"]}"  %>

<ul>
  <% @sorted.each do |report| %>
    <li>
    <a href="<%= report_path(report) %>">
      <%= report.score %>
      <%= report.sha256 %>
      <%= report.url %>
      <%= report.created_at %>
    </a>
    </li>
  <% end %>
</ul>
<%= link_to "home", reports_path  %>
<p>Find me in app/views/groups/show.html.erb</p>
